 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

html,
body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

body {
    font-size: 1.6rem;
}




p {
    max-width: 1024px;
    margin: 0 auto;
    text-align: start;
}

span {
    font-weight: bold;
}

header {
    text-align: center;
    padding: 45px;
    margin-bottom: 30px;
    width: 100%;
    background-color: #afddfb;
}

header div ul li a {
    transition: all 120ms linear 0s;
}

header div ul li a:hover {
    color: #2289ce;
}


.topo {
    margin: 0 auto;
    max-width: 680px;
}

.topo img {
    width: 230px;
    margin-bottom: 25px;
    animation: jello-horizontal 0.9s ease;
}

.topo ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.topo a {
    font-size: 2.8rem;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
}

.banner img {
    max-width: 1400px;
}

/*2 seção*/

.sobre h1 {
    margin-top: 25px;
    color: #1d1d1d;
    margin-bottom: 25px;
    font-size: 2.5rem;
}

.sobre h2 {
    color: #1c81c0;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 2.3rem;
}

.sobre img {
    margin-bottom: 25px;
}

.imagens {
    object-fit: cover;
    width: 100%;
    max-width: 1024px;
    max-height: 500px;
    border-radius: 8px;

}

.box-shadow {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.sobre p {
    line-height: 4.2rem;
    font-size: 2.1rem;
    padding: 25px;
}

.texto-azul {
    color: #1c81c0;
}

/*3 seção*/
.servicos {
    padding: 25px;
    background-color: #1d80c1;
}


.subtitulo {
    margin-top: 35px;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 2.8rem;
    line-height: 4.2rem;
}

.paragrafo {
    color: #ffffff;
    padding: 25px;
    line-height: 4.2rem;
    font-size: 2.1rem;
    text-align: start;
    max-width: 1024px;
}

.texto-amarelo {
    font-weight: bold;
    color: #fff81b;
}

.servicos ul {
    margin: 40px auto 40px auto;
    width: 135px;
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 2.4rem;
}


/*4 seção*/


.corretores h2 {
    margin-top: 35px;
    margin-bottom: 45px;
    color: #1c81c0;
    font-size: 2.8rem;
    line-height: 4.2rem;
}

.corretores p {
    font-size: 2.1rem;
    line-height: 4.2rem;
    padding: 25px;
}




/*5 seção*/
.contato {
    background-color: #1d80c1;
    padding: 15px;
}

.contato h2 {
    margin-top: 25px;
    margin-bottom: 35px;
    color: #ffffff;
}

.contato p {
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 2.1rem;
}

.contato ul {
    margin: 40px auto 40px auto;
    width: 250px;
}

.contato ul li {
    margin-top: 15px;
    text-align: center;
    font-size: 2.1rem;
}

.contato ul li a {
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

iframe {
    width: 100%;
    max-width: 1024px;
    border-radius: 5px;
}

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }

    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }

    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }

    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }

    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}